.content {
    background-color: #252B42;
    width: 100%;
    height: 1236px;
}

.text1, .text2 {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: white;
}

.text1 {
    margin-left: 62px;
}

.text {
    margin-top: 20px;
}

.title h6 {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    color: #23A6F0;
}

.title h2 {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    color: white;
    margin-top: -18px;
    margin-bottom: -7px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 113px;
} 

.line1 {
    display: flex;
    justify-content: space-between;
}

.rating span {
    color: white;
    margin-left: 8px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
}

.carousel {
    display: flex;
    justify-content: center;
    margin-top: 86px;
}

.sales {
    display: flex;
}

.leftprice {
    color: #BDBDBD;
    margin-right: 8px;
}

.price {
    font-family: Montserrat;
    color: #40BB15;
    font-size: 16px;
    font-weight: 700;
    margin-top: 23px;
}

.arrow {
    height: 16px;
    width: 16px;
}

.description {
    padding: 28px 20px;
}

.text {
    color: #737373;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
}

.graphicdesign {
    color: #252B42;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
}

.content a {
    text-decoration: none;
    color: #23A6F0;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
}

.box1, .box2 {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.box1 {
    margin-right: 15px;
}

.details {
    margin-top: 33px;
    display: flex;
}

.details span {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    color: #737373;
    margin: 0px 7px;
}

.carousel button {
    border: 1px solid #23A6F0;
    background-color: white;
    color: #23A6F0;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 50px;
    margin-top: 27px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.carousel button:hover {
    background-color: rgb(240, 240, 240);
}

.rating {
    background-color: #252B42;
    display: flex;
    align-items: center;
    border-radius: 30px;
}

.addition {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    background-color: #E74040;
    padding: 1px 10px;
    border-radius: 5px;
}

.options img {
    cursor: pointer;
}
